{% if field.summary not in [None, ''] %}
<details>
    <summary>{{field.summary}}</summary>
{% endif %}
    <div class="md-back width-1{% if field.recess %} recess back-3{% endif %} {{field.style}}">
        {% for v in field.content %}
            {%- if v.type() == "title" -%}
            <span class="glow-b md-header md-header-{{v.order}} {{v.style}}">{{v.text}}</span>

            {%- elif v.type() == "link" -%}
            <a class="md-link {{v.style}}" href="{{v.link}}"
                {%- if not v.link.startswith('/') %} target="_blank"{% endif -%}
                >{{v.text}}</a>

            {%- elif v.type() == "space" -%}
                {%- for v in range(v.rows) -%}
                <br>
                {%- endfor -%}
        
            {%- else -%}
            <span class="info {{v.style}}">{{v.text}}</span>

            {%- endif -%}
        {% endfor %}
    </div>
{% if field.summary not in [None, ''] %}
</details>
{% endif %}